@use '../utilities/breakpoints.scss' as *;

.footer {
  
  &__wrapper {
    background-color: var(--vary-dark-violet);
    padding: 3.5rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    @include breakpoint(medium) {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      align-items: start;
    }

    &.--second {
      @include breakpoint(medium) {
        max-width: 750px;
        width: 100%;
      }
    }
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__nav {
    font-size: 16px;
    line-height: 2;

    @include breakpoint(medium) {
      width: 65%;
      display: flex;
      justify-content: space-between;
      margin: 0 2rem;
    }

    @include breakpoint(large) {
      margin: 0;
    }
  }

  &__heading > h4 {
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--white);
  }

  &__unordered {
    margin-bottom: 2rem;
    color: var(--grayish-violet);
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-top: 1rem;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
}