@use '../utilities/breakpoints.scss' as *;

.header {

  &__container {

    @include breakpoint(medium) {
      display: flex;
    }
  }

  &__wrapper {
    background-color: var(--white);
    position: relative;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &-image {

      @include breakpoint(medium) {
        margin-right: .500rem;
      }

      @include breakpoint(large) {
        margin-right: 2rem;
      }
    }

    &-image > a {
      display: flex;
    }
    
    &-button {
      cursor: pointer;

      @include breakpoint(medium) {
        display: none;
      }

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s linear;
        background-color: var(--grayish-violet);
      }

      &.is_active {

        > .bar:nth-child(2) {
          opacity: 0;
        }

        > .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        > .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-violet);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    transition: transform .3s ease-in-out;
    transform: translateY(-150%);

    @include breakpoint(medium) {
      width: 100%;
      text-align: left;
      position: relative;
      transform: none;
      background: none;
    }

    &-menu {
      padding: 2rem 0;
      width: 80%;

      @include breakpoint(medium) {
        width: 100%;
      }
    }

    &-unordered {

      @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
      }
    }

    &-section {
      line-height: 3;

      @include breakpoint(medium) {
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    &-list:nth-child(3) {
      padding-bottom: 1rem;

      @include breakpoint(medium) {
        padding-bottom: 0;
      }
    }

    &-register {
      border-top: 1px solid rgba(158, 154, 167, .2);
      line-height: 3;

      @include breakpoint(medium) {
        max-width: 180px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        border: none;
      }

      @include breakpoint(large) {
        max-width: 230px;
      }
    }

    &-register > &-list:last-child {
      background-color: var(--cyan);
      border-radius: 50px;
      margin: .500rem 0;
      cursor: pointer;

      @include breakpoint(medium) {
        padding: 0 1.5rem;
        margin: 0;
        color: var(--white);
      }

      @include breakpoint(large) {
        padding: 0 1.875rem;
      }
    }

    &-register > &-list:last-child > &-anchor {

      @include breakpoint(medium) {
        color: var(--white);
      }
    }

    &-list > &-anchor {
      font-size: var(--default-font-size);
      font-weight: 700;
      color: var(--white);
      cursor: pointer;

      @include breakpoint(medium) {
        color: var(--grayish-violet);
      }
    }
    
    &.is_active {
      transform: translateY(0);
      transition: transform .3s ease-in-out;
    }
  }
}