@use '../utilities/breakpoints.scss' as *;

.container {
  width: min(80rem, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.35rem;
  padding-right: 1.35rem;

  @include breakpoint(medium) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
