@use '../utilities/breakpoints.scss' as *;

.shorten {
  position: relative;
  width: 100%;

  &__wrapper {
    background: linear-gradient(360deg, var(--light-gray) 57%, var(--white) 50%);
  }

  &__container {
    background: url("../images/mobile/bg-shorten-mobile.svg") right 0, var(--dark-violet);
    background-repeat: no-repeat;
    padding: 1.5rem;
    border-radius: 10px;

    @include breakpoint(medium) {
      background: url("../images/desktop/bg-shorten-desktop.svg") right 0, var(--dark-violet);
      background-size: cover;
    }
  }

  &__form {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
    }
  }

  &__form > input {
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    padding: .875rem 1rem;
    margin-bottom: 1rem;
    font-size: var(--default-font-size);

    @include breakpoint(medium) {
      width: 78%;
      padding: 1.5rem 1rem;
      margin-bottom: 0;
    }
  }

  &__btn {
    background-color: var(--cyan);
    padding: .875rem 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

    @include breakpoint(medium) {
      padding: 1.5rem 0;
      width: 20%;
    }
  }

  &__btn > button {
    font-weight: 900;
    color: var(--white);
  }
}

.copied {
  background-color: var(--light-gray);
  padding-top: 1rem;

  &__content:first-child {
    margin-top: 0;
  }

  &__content {
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 1rem;
    padding: 1.5rem;
  }

  &__link.--original {
    color: var(--dark-violet);
    border-bottom: 1px var(--light-gray) solid;
    padding-bottom: 1rem;
  }

  &__link.--shorten {
    color: var(--cyan);
    padding: 1rem 0;
  }

  &__btn {
    width: 100%;
    color: var(--white);
    background-color: var(--cyan);
    padding: .750rem 1rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
}