:root {
  // primary

  --cyan: hsl(180, 66%, 49%);
  --white: hsl(0, 0%, 100%);
  --dark-violet: hsl(257, 27%, 26%);

  // secondary
  --red: hsl(0, 87%, 67%);

  // neutral 
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: rgb(158, 154, 167);
  --very-dark-blue: hsl(255, 11%, 22%);
  --vary-dark-violet: hsl(260, 8%, 14%);
}